{{#with item}}
<div class= "content">
<p>{{drink}}</p>
<p>{{glass}}</p>
<img src="{{drinkImageUrl}}"></img>
<p>{{instruction}}</p>
{{!-- each  --}}
{{#each cocktail.ingredients as |ingredients|}}
   <li class = "ingredients">
    <p>ingredient: '{{ingredient}}' </p>
    <p>measure: '{{measure}}' </p>
   </li>

{{/each}}

</div>

{{/with}}