{{#with item}}
<h2 class="drink_name">{{drink}}</h2>
<h2 class="drink_glass">{{glass}}</h2>
<p class="instructions">{{instructions}}</p>
{{#each ingredients}}
<p class="ingredients"><span>{{ingredient}} {{measure}}</span></p>
{{/each}}
<img class="cocktail_img" src="{{drinkImageUrl}}"></img>
{{/with}}