{{#with item}}
<div class= "cocktail_content">
    <div class="name_glass">
        <h2 class="drink_name">{{drink}}</h2>
        <h2 class="drink_glass">{{glass}}</h2>
    </div>

    <div class="cocktail_body">
        <img class="cocktail_img" src="{{drinkImageUrl}}"></img>
        <div class="instructions-ingredients">
            <p class="instructions">{{instructions}}</p>
            <hr>
            {{#each ingredients}}
            <p class="ingredients"><span>{{ingredient}} {{measure}}</span></p>
            {{/each}}
        </div>
    </div>
</div>

{{/with}}