
{{!progress bar to show user is on line and viewing their dashboard}}
<h1 class="title" style="color:white"><i class="fa-sharp fa-solid fa-user"></i> {{user.firstName}} {{user.lastName}}'s Dashboard</h1>
<progress class="progress is-small is-primary" max="100">15%</progress>                               
<div class="columns">  
  <div class="column" style="color:rgb(255, 255, 255)">
 <div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu5">
      <span>About Me <i class="fa-solid fa-person-shelter"></i></span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu5" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <p>Name:<strong>{{user.firstName}} <strong></strong>{{user.lastName}}</strong></p>
        <p>Username:<strong>{{user.username}}</strong></p>
      </div>
    </div>
  </div>
</div> 
  </div>
  <div class="column" style="color:white">
  <div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu5">
      <span>View Total Comments <i class="fa-solid fa-comments"></i></span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu5" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <p><strong>You have a total of {{user.totalNbrOfComments}} comments!</strong></p>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="column" style="color:white">
    <div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu5">
      <span>View Total Likes <i class="fa-solid fa-thumbs-up"></i></span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu5" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <p><strong>You have a total of {{user.totalNbrOfLikes}} likes! </strong></p>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="column" style="color:white">
   <div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu5">
      <span>View Total Dislikes <i class="fa-solid fa-thumbs-down"></i></span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu5" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <p><strong> {{user.totalNbrofDislikes}}</strong> </p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
