<h1 class="title" style="color:white; text-align:center;">
  <i class="fa-sharp fa-solid fa-user" ></i> {{user.firstName}} {{user.lastName}}'s Dashboard
</h1>   

<div class="columns is-justify-content-center">  
  <div class="column is-one-fifth" style="color:rgb(255, 255, 255)">
    <div class="dog card">
      <p>Username: {{user.username}}</p>
    </div>
  </div>

  <div class="column is-one-fifth" style="color:white">
    <div class="dog card">
      <p> Total Comments: {{user.totalNbrOfComments}} <span class="fa-solid fa-comment"></span> </p>
    </div>
  </div>

  <div class="column is-one-fifth" style="color:white">
    <div class="dog card">
      <p> Total Likes: {{user.totalNbrOfLikes}} <span class="fa-solid fa-thumbs-up"></span> </p>
    </div>
  </div>
  
  <div class="column is-one-fifth" style="color:white">
    <div class="dog card">
      <p> Total Dislikes: {{user.totalNbrOfDisLikes}} <span class="fa-solid fa-thumbs-up"></span></p>
    </div>
  </div>
</div>
