<h1 class="title" style="color:white; text-align:center;">
  <i class="fa-sharp fa-solid fa-user" ></i> {{user.firstName}} {{user.lastName}}'s Dashboard
</h1>   

<div class="columns is-justify-content-center">  
  <div class="column is-one-fifth" style="color:rgb(255, 255, 255)">
    <div class="dog card">
      <p>Username: {{user.username}}</p>
    </div>
  </div>

  <div class="column is-one-fifth" style="color:white">
    <div class="dog card">
      <p>You have a total of {{user.totalNbrOfComments}} comments!</p>
    </div>
  </div>

  <div class="column is-one-fifth" style="color:white">
    <div class="dog card">
      <p>You have a total of {{user.totalNbrOfLikes}} likes!</p>
    </div>
  </div>
  
  <div class="column is-one-fifth" style="color:white">
    <div class="dog card">
      <p>You have a total of {{user.totalNbrOfDisLikes}} dislikes!</p>
    </div>
  </div>
</div>
