
{{!progress bar to show user is on line and viewing their dashboard}}
<h1 class="title" style="color:white">Welcome to your Dashboard!</h1>
<h2 class="subtitle" style="color:white">You are signed in as {{user.username}} </h2>
<progress class="progress is-small is-primary" max="100">15%</progress>

<div class="columns">
  <div class="column" style="color:white">
  You have {{user.totalNbrOfComments}} new comments!
  </div>
  <div class="column" style="color:white">
    You have {{user.totalNbrOfLikes}} new likes! 
  </div>
  <div class="column" style="color:white">
   You have {{user.totalNbrofDislikes}} new dislikes!
  </div>
  <div class="column" style="color:white">
 {{user.firstName}} {{user.lastName}}  </h3>
  </div>
</div>