<div id="feed" class="mx-6 feed">
  {{#each posts as |post|}}
  <div class="card p-2">
      <div class="card-content post">
          {{#if post.human_post }}
             {{> human-post item=post}}
          {{/if}}

           {{#if post.api_cocktail }}
             {{> cocktail-post item=post.api_object}}
          {{/if}}

          {{#if post.api_horoscope }}
             {{> horoscope-post item=post.api_object}}
          {{/if}}
           
          {{#if post.api_dog }}
             {{> dog-post item=post.api_object}}
          {{/if}}
          
          {{#if post.api_meme}}
              {{> meme-post item=post.api_object}}
          {{/if}}

          {{#each comments }}
            <div class="comment_content">

                <span class="content-boyz2">
                  {{contents}}
                </span>
                <div>
                  <p style="font-weight:bolder;" >{{user.first_name}} {{user.last_name}} --{{formatDate createdAt}}</p>
                  {{!-- <p>--{{formatDate createdAt}}</p> --}}
                </div>

            </div>
          {{/each}}
      </div>

      <footer class="card-footer">
          <a class="card-footer-item js-modal-trigger" data-target="new-comment{{@index}}">{{totalComments}}
            <span style="visibility:hidden"> -</span>
            <i class="fa-regular fa-comment comment{{@index}}" postid="{{post.id}}" ></i>
          </a>

          {{#if totalAlreadyLiked}}
            <a class="card-footer-item mike" loggedIn="{{../loggedIn}}">
              <span class="like{{@index}}">{{totalLikes}}</span>
              <span style="visibility:hidden"> -</span>
              <i class="fa-solid fa-thumbs-up thumbs-up{{@index}}" postid="{{post.id}}"></i>
            </a>
          {{else}}
            <a class="card-footer-item mike" loggedIn="{{../loggedIn}}">
              <span class="like{{@index}}">{{totalLikes}}</span>
              <span style="visibility:hidden"> -</span>
              <i class="fa-regular fa-thumbs-up thumbs-up{{@index}}"  postid="{{post.id}}"></i>
            </a>
          {{/if}}

          {{#if totalAlreadyDisliked}}
            <a class="card-footer-item chris" loggedIn="{{../loggedIn}}">
              <span class="dislike{{@index}}">{{totalDislikes}}</span>
              <span style="visibility:hidden"> -</span>
              <i class="fa-solid fa-thumbs-down thumbs-down{{@index}}" postid="{{post.id}}"></i>
            </a>
          {{else}}
            <a class="card-footer-item chris" loggedIn="{{../loggedIn}}">
              <span class="dislike{{@index}}">{{totalDislikes}}</span>
              <span style="visibility:hidden"> -</span>
              <i class="fa-regular fa-thumbs-down thumbs-down{{@index}}" postid="{{post.id}}"></i>
            </a>
          {{/if}}
      </footer>
  </div>

 {{#if ../loggedIn }} 
  <div id="new-comment{{@index}}" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title"></p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <textarea class="textarea" placeholder="10 lines of textarea" rows="10" id="newcomment-text{{@index}}"></textarea>
        <p class="comment-id{{@index}}" style="display:none;">{{id}}</p>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success submit" loggedIn="{{../loggedIn}}" id="newcomment-submit">submit</button>
      </footer>
    </div>
  </div>
{{/if}}

  {{/each}}
</div>