{{#with item}}
<div class="horoscope_content">
    <div class="horoscope_date">
        <h2>{{date_range}}</h2>
        <h2>{{current_date}}</h2>
    </div>
    <div class="description">
        <p>{{description}}</p>
    </div>
    <div class="horoscope_other">
        <p><span><h2>Compatibility</h2> {{compatibility}}</span></p>
        <p><span><h2>Mood</h2> {{mood}}</span></p>
        <p><span><h2>Color</h2> {{color}}</span></p>
        <p><span><h2>Lucky number</h2> {{lucky_number}}</span></p>
        <p><span><h2>Lucky time</h2> {{lucky_time}}</span></p>
    </div>
</div>
{{/with}}