{{#with item}}
<div class="content">
    <p>{{date_range}}</p>
    <p>{{current_date}}</p>
    <p>{{description}}</p>
    <p>{{compatibility}}</p>
    <p>{{mood}}</p>
    <p>{{color}}</p>
    <p>{{mood}}</p>
    <p>{{lucky_number}}</p>
    <p>{{lucky_time}}</p>
</div>
{{/with}}