{{#with item}}
<div class="human_content post-id{{id}}">
  <span class="humanpost_icon">
      <img src="images/sz.jpeg" class="image is-32x32">
  </span>
  <div class="user_info">
    <span class="firstname_lastname" style="font-weight:bold">{{user.first_name}} {{user.last_name}}</span>&nbsp;
    <span class="username_date">   @{{user.username}} -- {{formatDate createdAt}}</span>
    <hr>
    <p class="human_post">{{contents}}</p>
    <br>
  </div>
{{/with}}