{{#with item}}
<div class="content">
  <span class="icon">
      <img src="../public/Logo-filler.png" class="image is-32x32">
  </span>
  <span style="font-weight:bold">{{user.first_name}} {{user.last_name}}</span> 
  <span> {{user.username}} - On {{createdAt}}</span>
  <p>{{contents}}</p>
  <p>
  </p>
  <p id="post-id" style="display: none;">{{id}}</p>
  <br>
</div>
{{/with}}