{{#with item}}
<div class="content post-id{{id}}">
  <span style="font-weight:bold">{{user.first_name}} {{user.last_name}}</span> 
  <span> @{{user.username}} -- {{formatDate createdAt}}</span>
  <p>{{contents}}</p>
  <br>
</div>
{{/with}}