{{#with item}}
<div class="human_content post-id{{id}}">
  <div class="user_info">
    <span class="firstname_lastname" style="font-weight:bold">{{user.first_name}} {{user.last_name}}</span>&nbsp;
    <span class="username_date">   @{{user.username}} -- {{formatDate createdAt}}</span>
    <span class="human_post content-boyz">{{contents}}</span>
    <br>
  </div>
{{/with}}