{{#with item}}
<div class="content">
  <span class="icon">
      <img src="../public/Logo-filler.png" class="image is-32x32">
  </span>
  <p>{{contents}}</p>
  <p>{{user.username}}</p>
  <p id="post-id" style="display: none;">{{id}}</p>
  <br>
</div>
  <div id="static-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <div class="content">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <span class="icon">
                <img src="../public/Logo-filler.png" class="image is-32x32">
              </span>
              <p>{{user.username}}</p>
              <p>{{contents}}</p>
              <br>
            </div>
          </div>
          <div class="is-flex">
            <a href="#" class="card-footer-item">Like</a>
            <a href="#" class="card-footer-item">Dislike</a>
          </div>
        </div>
        <div>
          <p class="pl-2 ">comment</p>
        </div>
    </section>
    <footer class="modal-card-foot">
    </footer>
  </div>
{{/with}}