<section class="new-post-section">
    <button type="submit" class="btn" id="create-new-post">+ Create new post</button>
</section>


{{#if posts.length}}
<section>
    <h2>Your Dashboard</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
        </li>
        {{/each}}
        <div id="feed" class="mx-6 feed">
  {{#each posts as |post|}}
  
  <div class="card">
      <div class="card-content">
          {{#if post.human_post }}
             {{> human-post item=post}}
          {{/if}}

           {{#if post.api_cocktail }}
             {{> cocktail-post item=post.api_object}}
          {{/if}}

          {{#if post.api_horoscope }}
             {{> horoscope-post item=post.api_object}}
          {{/if}}
      </div>

      <footer class="card-footer">
          <a  class="card-footer-item ">{{totalComments}}
            <span style="visibility:hidden"> -</span>
            <i class="fa-regular fa-comment comment{{@index}}"></i>
          </a>

          {{#if totalAlreadyLiked}}
            <a class="card-footer-item  mike">{{totalLikes}}
              <span style="visibility:hidden"> -</span>
              <i class="fa-solid fa-thumbs-up thumbs-up{{@index}}"></i>
            </a>
          {{else}}
            <a class="card-footer-item  mike">{{totalLikes}}
              <span style="visibility:hidden"> -</span>
              <i class="fa-regular fa-thumbs-up thumbs-up{{@index}}"></i>
            </a>
          {{/if}}

          {{#if totalAlreadyDisliked}}
            <a class="card-footer-item  chris">{{totalDislikes}}
              <span style="visibility:hidden"> -</span>
              <i class="fa-solid fa-thumbs-down thumbs-down{{@index}}"></i>
            </a>
          {{else}}
            <a class="card-footer-item chris">{{totalDislikes}}
              <span style="visibility:hidden"> -</span>
              <i class="fa-regular fa-thumbs-down thumbs-down{{@index}}"></i>
            </a>
          {{/if}}
      </footer>
  </div>
  {{/each}}
</div>
    </ul>
</section>
{{/if}}

<script src="models/Comment.js"></script>