{{> navbar}}

<div>
{{#each notifications }}


  <div class="card notification">
  <button class="delete"></button>
  <div class="card-image ">
    
      {{!-- where we will display the post  --}}
{{!-- modal 



<div class="notification-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
 <div class="box" style="color:black;">

  {{post.contents}}
</div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>



{{!-- {{post.contents}} --}}



  </div> 


  <div class="card-content">
    <div class="content">
      <div class="nidhi " notificationId="{{id}}" postId="{{post_id}}">
        {{#if comment }}
          <p>{{comment.user.first_name}} {{comment.user.last_name}}</p>
          <span class="title" style="font-size:15px">@{{comment.user.username}} </span>
          <span> has commented "{{comment.contents}}" on your post on {{formatDate comment.createdAt}}</span> 
          
        {{/if}}
        {{#if reaction }}
         <p>{{reaction.user.first_name}} {{reaction.user.last_name}}</p>
          {{#if (isEqual reaction.type "like") }}
          <span class="title" style="font-size:15px">@{{reaction.user.username}} </span>
          <span> has liked your post on {{formatDate reaction.createdAt}}</span>
        {{else}} 
          <span class="title" style="font-size:15px" >@{{reaction.user.username}} </span>
          <span> has disliked your post on {{formatDate reaction.createdAt}}</span>
        {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{/each}}
</div>
