{{> navbar}}
<div>
{{#each notifications }}

 <div   id= "notification{{id}} " class="nidhi card notification mx-6 feed " notificationId="{{id}}" postId="{{post_id}}" notificationActive="false">
  <button class="delete "></button>
<div class="card-content">
    <div class="content">
        {{#if comment }}
          <p>{{comment.user.first_name}} {{comment.user.last_name}}</p>
          <span class="title" style="font-size:15px">@{{comment.user.username}} </span>
          <span> has commented "{{comment.contents}}" on your post on {{formatDate comment.createdAt}}</span> 
          
        {{/if}}
        {{#if reaction }}
         <p>{{reaction.user.first_name}} {{reaction.user.last_name}}</p>
          {{#if (isEqual reaction.type "like") }}
          <span class="title" style="font-size:15px">@{{reaction.user.username}} </span>
          <span> has liked your post on {{formatDate reaction.createdAt}}</span>
        {{else}} 
          <span class="title" style="font-size:15px" >@{{reaction.user.username}} </span>
          <span> has disliked your post on {{formatDate reaction.createdAt}}</span>
        {{/if}}
        {{/if}}
    
    </div>
  </div>
</div>
{{/each}}
</div>

<script src="/js/notification.js"></script>





