{{> navbar}}

<div>
{{#each notifications }}

 {{!-- {{#if read_flag}}
    <div style="color:white">
  {{else}}
    <div style="color:black">
  {{/if}} --}}
  
<div class=" card notification">
  <button class="delete"></button>
  <div class="card-image">
    <figure class="image is-4by3">




     {{!-- <div id="postDetails" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <button class="delete" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      {{post}}
    </section>

    {{!-- New post footer --}}
    <footer class="modal-card-foot">
      <button class="button is-success btn" id="newpost-submit">Submit</button>
    </footer>

  </div>
</div> --}}


    </figure>
  </div>



  <div class="card-content">
    <div class="content">
      <div class="nidhi " notificationId="{{id}}" postId="{{post_id}}">
        {{#if comment }}
          <p>{{comment.user.first_name}} {{comment.user.last_name}}</p>
          <span class="title" style="font-size:15px">@{{comment.user.username}} </span>
          <span> has commented on your post on {{formatDate comment.createdAt}}</span> 
        {{/if}}
        {{#if reaction }}
         <p>{{reaction.user.first_name}} {{reaction.user.last_name}}</p>
          {{#if (isEqual reaction.type "like") }}
          <span class="title" style="font-size:15px">@{{reaction.user.username}} </span>
          <span> has liked your post on {{formatDate reaction.createdAt}}</span>
        {{else}} 
          <span class="title" style="font-size:15px" >@{{reaction.user.username}} </span>
          <span> has disliked your post on {{formatDate reaction.createdAt}}</span>
        {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{/each}}
</div>
</div>
</div>





