{{> navbar}}

<div class=" nidhi">
  <header class="card-header">
    <p class="card-header-title ">
     {{#each notifications as |notification|}}
    </p>
  </header>

  <div class="card-content" style="color:aliceblue" >
    {{!-- <div class=" notification-content {{@index}}"> --}}
 
      {{!-- {{#if notification.comment }}
       <p>"</p>
    {{/if}}

        {{#if notification.reaction }}
      <p>{{notification.reaction.user.username}}  {{notification.reaction.type}} your post</p>
        {{/if}} --}}
      

          {{#if notification.comment}}
          {{#if read_flag}}
            <a class="card-footer-item  nidhi" loggedIn="{{../loggedIn}}">
            {{else}}
             <a  style= " font-weight: bold; font-size: 1.5em;" class="card-footer-item  nidhi" loggedIn="{{../loggedIn}}"></a>
             {{/if}}
              <span class="read{{@index}}"> {{notification.comment.user.username}} commented: "{{notification.comment.contents}}</span>
              <span style="visibility:hidden"> -</span>
              <i class="fa-solid fa-read-flag notification-content{{@index}}" postid="{{post.id}}" notificationid="{{notification.id}}"  ></i>
            </a>
          {{else}}
            <a class="card-footer-item  nidhi" loggedIn="{{../loggedIn}}">
              <span class="unread{{@index}}">{{notification.reaction.user.username}}  {{notification.reaction.type}} your post</span>
              <span style="visibility:hidden"> -</span>
              <i class="fa-regular fa-read-flag notification-content{{@index}}"  postid="{{post.id}}" notificationid="{{notification.id}}" ></i>
            </a>
          {{/if}}






    {{!-- </div> --}}
  </div>


  </div>
  {{/each}}





















